.chat-container {
    height: 100%;
    border-radius: 1rem !important;
    width: 100%;
    overflow: hidden;
    background-color: #EAE0DA;
}

.header h3 {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 8%;
    width: 100%;
    justify-content: space-between;
}

.header__left {
    display: flex;
    border-radius: 1rem !important;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
}

.header__left__avatar {
    width: 45px;
    height: 45px;
    margin-right: 1rem;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover !important;
    cursor: pointer;
}

.header__left_name {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.message-box {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box>mat-form-field {
    width: 96% !important;
}

.chat-area {
    overflow-y: auto;
    display: flex;
    height: 82%;
    flex-direction: column-reverse;
    width: 96% !important;
    padding-inline: 2%;
}

.message {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem 5rem 1rem 1rem;
    background-color: #F7F5EB;
    width: fit-content;
    margin-bottom: 0.5rem;
    align-items: flex-start;
    margin-right: 10%;
}

.receiver:before {
    display: block;
    clear: both;
    content: "";
    position: absolute;
    bottom: 15px;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 13px 8px;
    border-color: #F7F5EB;
    -webkit-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    transform: rotate(-37deg);
}
.message.sender {
    background-color: #EAC7C7;
    align-self: flex-end;
    margin-left: 10%;
    margin-right: 0%;
}

.sender:before {
    display: block;
    clear: both;
    content: "";
    position: absolute;
    bottom: 15px;
    right: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 15px 12px;
    border-color: #EAC7C7;
    -webkit-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    transform: rotate(37deg);
}
.time {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.7rem;
    color: #999;
 }
.icons {
    position: relative;
    top: 2px;
    left: 3px;
    font-size: 14px !important;
}
 
.empty-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    gap: 1rem;
    color: #999;
}