<div class="all-chats-container">
    <div class="mat-autocomplete-search">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search for chat ..." [formControl]="searchControl" [matAutocomplete]="user" />
            <mat-autocomplete (optionSelected)="selectedUser($event.option.value)" #user="matAutocomplete"
                [displayWith]="usersSearchDisplayFn">
                <mat-option *ngFor="let user of getActualUsers | async" [value]="user.uid"> {{ user.displayName }} </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <mat-selection-list id="style-3" [formControl]="chatSelectionControl" class="selection-list" #chats
        [multiple]="false">
        <mat-divider></mat-divider>
        <mat-list-option [selected]="getChatSelected(chatItem.id)" *ngFor="let chatItem of allChats;let index = index"
            [value]="chatItem?.id">
            <img matListAvatar [src]="chatItem.chatPhotoUrl ?? 'assets/placeHolder.webp'" alt="profile-pic">
            <p mat-line class="chat-name">
                <span>{{chatItem?.chatName}}</span>
                <span [class.highlight]="!!chatItem?.unSeenMessageCount" class="chat-last-msg-time">{{chatItem?.lastMessageDate |
                    date:'shortTime'}}</span>
            </p>
            <p mat-line class="chat-last-msg-dtl">
                <span>{{getLastMessage(chatItem)}}</span>
                <span [class.highlight]="!!chatItem?.unSeenMessageCount" *ngIf="!!chatItem?.unSeenMessageCount"
                    class="unseen-msg-count">{{chatItem?.unSeenMessageCount}}</span>
            </p>
            <mat-divider></mat-divider>
        </mat-list-option>
    </mat-selection-list>
</div>